Source: castxml
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Gert Wollny <gewo@debian.org>,
           Étienne Mollier <emollier@debian.org>
Section: devel
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake,
               help2man,
               libclang-16-dev,
               llvm-16-dev,
               libmlir-16-dev,
               mlir-16-tools,
               clang-tools-16,
               clang-format-16,
               clang-tidy-16,
               clangd-16,
               libedit-dev,
               zlib1g-dev
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/med-team/castxml
Vcs-Git: https://salsa.debian.org/med-team/castxml.git
Homepage: https://github.com/CastXML/CastXML
Rules-Requires-Root: no

Package: castxml
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: C-family abstract syntax tree XML output tool
 Parse C-family source files and optionally write a subset of the
 Abstract Syntax Tree (AST) to a representation in XML.
 This is the successor to gccxml.
